## SQL Queries - Simple

### Tasks

List the SalesOrderNumber for the customer 'Good Toys' 'Bike World'.

In [1]:
-- sql here

SELECT
  SalesOrderHeader.SalesOrderID,
  Customer.CompanyName
FROM
  SalesLT.Customer
  LEFT JOIN
    SalesLT.SalesOrderHeader
    ON Customer.CustomerID = SalesOrderHeader.CustomerID
WHERE
  CompanyName LIKE '%Good Toys%'
  OR CompanyName LIKE '%Bike World%'

SalesOrderID,CompanyName
NULL,Bike World
NULL,Good Toys
NULL,Bike World
71774,Good Toys

List the ProductName and the quantity of what was ordered by 'Futuristic Bikes'.

In [3]:
-- sql here
SELECT
  Product.Name,
  SalesOrderDetail.OrderQty
FROM
  SalesLT.Customer
  JOIN
    SalesLT.SalesOrderHeader
    ON Customer.CustomerID = SalesOrderHeader.CustomerID
  JOIN
    SalesLT.SalesOrderDetail
    ON SalesOrderHeader.SalesOrderID = SalesOrderDetail.SalesOrderID
  JOIN
    SalesLT.Product
    ON SalesOrderDetail.ProductID = Product.ProductID
WHERE
  Customer.CompanyName = 'Futuristic Bikes'

Name,OrderQty
ML Mountain Seat/Saddle,2
"Long-Sleeve Logo Jersey, L",2
"Classic Vest, S",3

List the name and addresses of companies containing the word 'Bike' (upper or lower case) and companies containing 'cycle' (upper or lower case). Ensure that the 'bike's are listed before the 'cycles's.

In [7]:
-- sql here
SELECT TOP 3
  t.CompanyName,
  Address.AddressLine1,
  Address.AddressLine2,
  Address.City,
  Address.StateProvince,
  Address.CountryRegion,
  Address.PostalCode
FROM
  (
    SELECT DISTINCT
      CustomerID,
      CompanyName,
      1 AS 'Rank'
    FROM
      SalesLT.Customer
    WHERE
      lOWER(CompanyName) LIKE '%bike%'
    UNION
    SELECT DISTINCT
      CustomerID,
      CompanyName,
      2 AS 'Rank'
    FROM
      SalesLT.Customer
    WHERE
      LOWER(CompanyName) LIKE '%cycle%'
  ) AS t
  JOIN
    SalesLT.CustomerAddress
    ON t.CustomerID = CustomerAddress.CustomerID
  JOIN
    SalesLT.Address
    ON CustomerAddress.AddressID = Address.AddressID
ORDER BY
  t.Rank,
  t.CompanyName

CompanyName,AddressLine1,AddressLine2,City,StateProvince,CountryRegion,PostalCode
A Bike Store,2251 Elliot Avenue,NULL,Seattle,Washington,United States,98104
A Typical Bike Shop,"One Dancing, Rr No. 25",Box 8033,Round Rock,Texas,United States,78664
Advanced Bike Components,12345 Sterling Avenue,NULL,Irving,Texas,United States,75061

Show the total order value for each CountryRegion. List by value with the highest first.

In [9]:
-- sql here
SELECT
  Address.CountryRegion,
  SUM(SubTotal)
FROM
  SalesLT.SalesOrderHeader
  JOIN
    SalesLT.Address
    ON SalesOrderHeader.ShipToAddressID = Address.AddressID
GROUP BY
  Address.CountryRegion
ORDER BY
  SUM(SubTotal) DESC

CountryRegion,(No column name)
United Kingdom,518096.4336
United States,347336.6835

Find the best customer in each region.

In [10]:
-- sql here
SELECT
  t.CountryRegion,
  t.CompanyName,
  t.Total
FROM
  (
    SELECT
      t.*,
      @counter := CASE
        WHEN
          @CountryRegion = t.CountyRegion
        THEN
          @counter + 1
        ELSE
          1
      END AS counter,
      @CountryRegion := t.CountyRegion AS CountryRegion
    FROM
      (
        SELECT
          @counter := 0,
          @CountryRegion := 0
      ) AS initvar,
      (
        SELECT
          Address.CountyRegion,
          Customer.CompanyName,
          SUM(SubTotal) AS 'Total'
        FROM
          SalesLT.SalesOrderHeader
          JOIN
            SalesLT.Customer
            ON SalesOrderHeader.CustomerID = Customer.CustomerID
          JOIN
            SalesLT.CustomerAddress
            ON Customer.CustomerID = CustomerAddress.CustomerID
          JOIN
            SalesLT.Address
            ON CustomerAddress.AddressID = Address.AddressID
        GROUP BY
          Customer.CompanyName,
          Address.CountyRegion
        ORDER BY Address.CountyRegion, SUM(SubTotal) DESC
      ) AS t
  ) AS t
WHERE
  t.counter = 1

: Msg 137, Level 15, State 2, Line 10
Must declare the scalar variable "@counter".

: Msg 102, Level 15, State 1, Line 22
Incorrect syntax near ':'.

: Msg 156, Level 15, State 1, Line 44
Incorrect syntax near the keyword 'ORDER'.

### Notes & Conclusion

Notes are here.