## SQL Queries - Simple

### Tasks

Show the first name and the email address of customer with CompanyName 'Bike World'.

In [1]:
-- sql here
SELECT FirstName,EmailAddress
FROM   SalesLT.Customer
WHERE  CompanyName = 'Bike World';

FirstName,EmailAddress
Kerim,kerim0@adventure-works.com
Kerim,kerim0@adventure-works.com

Show the CompanyName for all customers with an address in City 'Dallas'.

In [2]:
-- sql here
SELECT DISTINCT CompanyName
FROM   SalesLT.Customer CAW 
  JOIN SalesLT.CustomerAddress CA ON CAW.CustomerID = CA.CustomerID
  JOIN SalesLT.Address ADR ON CA.AddressID = ADR.AddressID
WHERE  City = 'Dallas';

CompanyName
Elite Bikes
Rental Bikes
Third Bike Store
Town Industries
Unsurpassed Bikes

How many items with ListPrice more than $1000 have been sold?

In [3]:
-- sql here
SELECT
  COUNT(*) AS Total
FROM
  SalesLT.SalesOrderDetail
  JOIN
    SalesLT.Product
    ON SalesOrderDetail.ProductID = Product.ProductID
WHERE
  Product.ListPrice > 1000

Total
144

Give the CompanyName of those customers with orders over $100000. Include the subtotal plus tax plus freight.

In [4]:
-- sql here
SELECT
  Customer.CompanyName
FROM
  SalesLT.SalesOrderHeader
  JOIN
    SalesLT.Customer
    ON SalesOrderHeader.CustomerID = Customer.CustomerID
WHERE
  SalesOrderHeader.SubTotal + SalesOrderHeader.TaxAmt + SalesOrderHeader.Freight > 100000

CompanyName
Action Bicycle Specialists
Metropolitan Bicycle Supply

Find the number of left racing socks ('Racing Socks, L') ordered by CompanyName 'Riding Cycles'.

In [5]:
-- sql here
SELECT
  SUM(SalesOrderDetail.OrderQty) As Total
FROM
  SalesLT.SalesOrderDetail
  JOIN
    SalesLT.Product
    ON SalesOrderDetail.ProductID = Product.ProductID
  JOIN
    SalesLT.SalesOrderHeader
    ON SalesOrderDetail.SalesOrderID = SalesOrderHeader.SalesOrderID
  JOIN
    SalesLT.Customer
    ON SalesOrderHeader.CustomerID = Customer.CustomerID
WHERE
  Product.Name = 'Racing Socks, L'
  AND Customer.CompanyName = 'Riding Cycles'

Total
3

### Notes & Conclusion

Notes are here.